* {
  font-family: monospace;
  color: #ddd;
  font-size: 14pt;
  margin: 0;
}

body {
  box-sizing: border-box;
  background: black;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #ddd;
  border: 2px solid #aaa;
}

a:hover {
  color: black;
  background: #ddd;
  cursor: pointer;
}

input {
  background: black;
  border: 2px dashed #ddd;
}

li {
  list-style: square;
}

.warning {
  color: #ffeac1;
}

.laughter {
  color: #84a0ac;
}

.citizens {
  color: #91c0a4;
}

.food {
  color: #ffcdc1;
}

.housing {
  color: #ffdcc1;
}

.raw-materials {
  color: #8d9ab5;
}

.energy {
  color: #7ea7a6;
}

.tools {
  color: #ffe6c1;
}

.manufactured-goods {
  color: #fff1c1;
}

.weapons {
  color: #9794bb;
}

.soldiers {
  color: #899cb1;
}

.luxury-goods {
  color: #9e8fb8;
}

.gold {
  color: #ffe2c1;
}
