* {
  font-family: monospace;
  color: #ddd;
  font-size: 14pt;
  margin: 0;
}

body {
  box-sizing: border-box;
  background: black;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
details[data-popover] > summary {
  text-decoration: none;
  color: #ddd;
  border: 2px solid #aaa;
}

a:hover,
details[data-popover] > summary:hover {
  color: black;
  background: #ddd;
  cursor: pointer;
}

input {
  background: black;
  border: 2px dashed #ddd;
}

li {
  list-style: square;
}

.warning {
  color: #ffeac1;
}

.laughter {
  color: #84a0ac;
}

.citizens {
  color: #91c0a4;
}

.food {
  color: #ffcdc1;
}

.housing {
  color: #ffdcc1;
}

.raw-materials {
  color: #8d9ab5;
}

.energy {
  color: #7ea7a6;
}

.tools {
  color: #ffe6c1;
}

.manufactured-goods {
  color: #fff1c1;
}

.weapons {
  color: #9794bb;
}

.soldiers {
  color: #899cb1;
}

.luxury-goods {
  color: #9e8fb8;
}

.gold {
  color: #ffe2c1;
}

/* popover */
details[data-popover] {
  display: inline;
  position: relative;
}
details[data-popover] > summary:focus {
  outline: none;
}
details[data-popover] > summary::-webkit-details-marker {
  display: none;
}
details[data-popover] > summary {
  list-style: none;
}
details[data-popover] > div p {
  margin-top: 10px;
  margin-bottom: 10px;
}
details[data-popover] > summary + * {
  position: absolute;
  display: block;
  z-index: 1;
  border: solid 1px #aaa;
  padding: 15px;
  background: black;
}
details[data-popover] > * + * {
  /* hide detail elements that would ruin the popover */
  display: none;
}
details[data-popover="down"] > summary + * {
  top: calc(0.5rem + 100%);
  right: 50%;
  transform: translateX(50%);
}

/* wrapper setup */
/* .wrapper {
  width: 100%;
  padding: 250px;
} */
