* {
  font-family: monospace;
  color: white;
  font-size: 16pt;
  margin: 0;
}

body {
  box-sizing: border-box;
  background: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
}

a:hover {
  color: black;
  background: white;
  cursor: pointer;
}

input {
  background: black;
  border: 2px dashed white;
}

li {
  list-style: square;
}
